@media screen and (max-width: 480px) {
	p,
	li {
		font-size: 18px;
	}
	h4 {
		font-size: 20px;
	}
	.heroimg {
		display: flex;
		justify-content: center;
		height: 610px;
	}

	.info p {
		font-size: 25px;
	}

	.page-section,
	.weather {
		display: flex;
		margin: 2em auto;
		padding: 1em;
		line-height: 2em;
		background-color: #f5f5f5;
		border-radius: 5em 0;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	.slider .slick-slide {
		transform: scale(0.8);
		opacity: 0.2;
	}

	.slider img {
		width: 250vw;
		height: auto;
	}
	/*builds*/
	.cards {
		display: grid;
		grid-template-columns: repeat(1, minmax(320px, 1fr));
		padding: 2em;
		grid-gap: 30px;
		text-align: center;
	}
	.cards h2,
	.cards h4,
	.cards p {
		text-align: center;
	}
	.cards section {
		box-shadow: 5px 5px 10px #777;
		border: none;
		padding: 0 0 1.5em;
	}
	.cards img {
		height: 710px;
		width: auto;
		box-shadow: 0 0 40px #777;
	}
	.cards .listV {
		grid-template-columns: repeat(2, 1fr);
		display: grid;
		background-color: gray;
		text-align: center;
	}
	.cards.listV section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column: 1/5;
		margin: 0;
		padding: 0;
	}

	/*services*/
	.s-container .sIcon {
		width: 70px;
		height: 70px;
	}
	.s-container2 {
		display: flex;
		margin: 0em auto;
	}
	.up,
	.down {
		flex-wrap: wrap;
	}
	.extraP {
		padding: 1em;
	}
	.extraP button {
		padding: 1.5em 1em;
		border-left: solid 13px #0e3d5a;
	}
	.down {
		max-width: 470px;
		gap: 30px;
	}
}
