@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Hind+Vadodara&display=swap');

* {
    margin: 0;
    padding: 0;
    object-fit: contain;
}

body {
    background-color: #F3F9D2;
    min-width: 300px;
    width: 100%;
    font-family: 'Architects Daughter', serif;
    text-align: center;
}

nav {
    display: block;
    font-family: 'Hindi Vadora', serif;
    background-color: aliceblue;
}

