@media screen and (min-width: 600px) {
    header {
        background-color: #506878;
        color: white;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        background-color: #36454f;

    }

    nav ul {
        display: flex;

    }

    nav a {
        color: white;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    footer {
        color: #fff;
        background-color: #506878;
    }

    /* hides the menu button when the screen is 600px */
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }



    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0, 0, 0, .75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        /* Buenas */
    }

    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 2rem;
        font-family: "Great Vibes", serif;
    }

}